

body {
    display: flex;
    justify-content: center;
    margin-top: 5rem;
    width: 100%;
    height: 100%;
}

.card {
    display:flex;
    flex-direction:column;
    flex-wrap: wrap;
    width: 20rem;
    height: 30rem;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.top {
    flex:none;
    height:60%;
}
    


.picture {
    width:20rem;
    height:20rem;
}

.content{
    flex:1;
}

.bottom{
    flex:none;
    margin-top:5rem;
    padding-left: 5px;
    padding-right: 5px;
    display:flex;
    justify-content: space-between;
}